body{
    font-size: 1em;
}


table {
    width: 90%;
}

.logo {
    max-width: 400px;
}

.heroImage {
    max-width: 200px;
    max-height: 400px;
}

.oddRow {
    background-color: dimgrey;
}

.evenRow {
    background-color: lightgray;
}

.tableHeader{
    background-color: #212121;
    color: white;
    font-size: 1.2em; 
}